<div class="about-container">
  <p class="about-section__label">TRADITION AND LOVE</p>
  <h2 class="about-section__title">HOW IT'S MADE</h2>
  <div class="about-section__main">
    <img
      class="about-section__image"
      srcset="
        ./images/how-its-made/home-pic480.png   480w,
        ./images/how-its-made/home-pic768.png   768w,
        ./images/how-its-made/home-pic1280.png 1280w
      "
      src="./images/how-its-made/home-pic480.png"
      alt="bio-eco"
    />
    <div class="about-section__content">
      <p class="about-section__text-main">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="about-section__text-simple">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>
      <p class="about-section__text-additional">
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="about-section__button" type="button" data-modal-open>
        Read more
        <svg class="about-section__icon" width="8" height="10">
          <use href="./images/other/svg/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
