<section class="customer container">
      <h2 class="customer__title" id="customers">Customers</h2>
      <div class="carousel">
        <div class="carousel__inner">
          <input
            class="carousel__inner--open"
            type="radio"
            id="carousel-1"
            name="carousel"
            aria-hidden="true"
            hidden=""
            checked="checked"
          />
          <div class="carousel__item">
            <div class="carousel__item__review">
              <img
                srcset="
                  ./images/customers/testimonial.png      85w,
                  ./images/customers/testimonial1@2x.png 170w
                "
                src="./images/customers/testimonial.png"
                sizes="(min-width: 1280px) 170w, (min-width: 768px) 85w"
                alt="Emily"
                class="carousel__item__review__photo"
              />
              <div class="carousel__item__review--container">
                <div class="carousel__item__review--inner">
                  <p class="carousel__item__review__msg">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <span class="carousel__item__bullet">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>

              <div class="carousel__item__review__info">
                <h3 class="carousel__item__review__info--title">
                  Emily, Los Angeles
                </h3>
              </div>
            </div>
          </div>
          <input
            class="carousel__inner--open"
            type="radio"
            id="carousel-2"
            name="carousel"
            aria-hidden="true"
            hidden=""
          />
          <div class="carousel__item">
            <div class="carousel__item__review">
              <img
                srcset="
                  ./images/customers/testimonial2.png     85w,
                  ./images/customers/testimonial2@2x.png 170w
                "
                src="./images/customers/testimonial2.png"
                sizes="(min-width: 1280px) 170w, (min-width: 768px) 85w"
                alt="Mila"
                class="carousel__item__review__photo"
              />
              <div class="carousel__item__review--container">
                <div class="carousel__item__review--inner">
                  <p class="carousel__item__review__msg">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <span class="carousel__item__bullet">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <div class="carousel__item__review__info">
                <h3 class="carousel__item__review__info--title">
                  Mila, New York
                </h3>
              </div>
            </div>
          </div>
          <input
            class="carousel__inner--open"
            type="radio"
            id="carousel-3"
            name="carousel"
            aria-hidden="true"
            hidden=""
          />
          <div class="carousel__item">
            <div class="carousel__item__review">
              <img
                srcset="
                  ./images/customers/testimonial3.png     85w,
                  ./images/customers/testimonial3@2x.png 170w
                "
                src="./images/customers/testimonial3.png"
                sizes="(min-width: 1280px) 170w, (min-width: 768px) 85w"
                alt="Agata"
                class="carousel__item__review__photo"
              />
              <div class="carousel__item__review--container">
                <div class="carousel__item__review--inner">
                  <p class="carousel__item__review__msg">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor
                    risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                  </p>
                </div>
              </div>
              <span class="carousel__item__bullet">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <div class="carousel__item__review__info">
                <h3 class="carousel__item__review__info--title">
                  Agata, California
                </h3>
              </div>
            </div>
          </div>
          <label
            for="carousel-3"
            class="carousel__inner__control carousel__inner__control--prev carousel__inner__control--1"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_left"></use>
            </svg>
          </label>
          <label
            for="carousel-2"
            class="carousel__inner__control carousel__inner__control--next carousel__inner__control--1"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_right"></use>
            </svg>
          </label>
          <label
            for="carousel-1"
            class="carousel__inner__control carousel__inner__control--prev carousel__inner__control--2"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_left"></use>
            </svg>
          </label>
          <label
            for="carousel-3"
            class="carousel__inner__control carousel__inner__control--next carousel__inner__control--2"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_right"></use>
            </svg>
          </label>
          <label
            for="carousel-2"
            class="carousel__inner__control carousel__inner__control--prev carousel__inner__control--3"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_left"></use>
            </svg>
          </label>
          <label
            for="carousel-1"
            class="carousel__inner__control carousel__inner__control--next carousel__inner__control--3"
          >
            <svg class="carousel__inner--svg">
              <use href="./images/icons.svg#circle_right"></use>
            </svg>
          </label>
          <ol class="carousel__inner__indicators container--unstyled-list">
            <li>
              <label
                for="carousel-1"
                class="carousel__inner__indicators--bullet"
              >
                <svg class="carousel__inner--svg">
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </label>
            </li>
            <li>
              <label
                for="carousel-2"
                class="carousel__inner__indicators--bullet"
              >
                <svg class="carousel__inner--svg">
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </label>
            </li>
            <li>
              <label
                for="carousel-3"
                class="carousel__inner__indicators--bullet"
              >
                <svg class="carousel__inner--svg">
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </label>
            </li>
          </ol>
        </div>
      </div>
    </section>