<section class="description-section">
    <div class="container-ourgoal">
      <h3 class="section-subtitle">Why we do it</h3>
      <h2 class="section-title">Ice cream life</h2>
      <div class="thumb">
        <div class="images-section">
          <ul class="images-list">
            <li class="images-item">
              <img
                srcset="
                  ./images/pictures/ice-cream/sprincle-icecream.png    1x,
                  ./images/pictures/ice-cream/sprincle-icecream@2x.png
                "
                src="./images/pictures/ice-cream/sprincle-icecream.png"
                alt="sprincle ice-cream"
              />
            </li>
            <li class="images-item">
              <img
                srcset="
                  ./images/pictures/ice-cream/strawberry-icecream.png    1x,
                  ./images/pictures/ice-cream/strawberry-icecream@2x.png
                "
                src="./images/pictures/ice-cream/strawberry-icecream.png"
                alt="strawberry ice-cream"
              />
            </li>
            <li class="images-item">
              <img
                srcset="
                  ./images/pictures/ice-cream/flavoured-icecream.png    1x,
                  ./images/pictures/ice-cream/flavoured-icecream@2x.png 2x
                "
                src="./images/pictures/ice-cream/flavoured-icecream.png"
                alt="flavoured ice-cream"
              />
            </li>
          </ul>
        </div>
        <div class="description">
          <p class="page-paragraph">
            <span>Welcome to our ice cream store</span>, where we believe
            that a good scoop of ice cream can make any day better. For us,
            it's not just about the
            <span>delicious flavors or creamy texture</span>, but about the
            joy and happiness that we bring to our customers. We take pride
            in crafting each and every batch with love and care, using only
            the freshest ingredients and creating unique flavor combinations
            that will tantalize your taste buds. Our passion for ice cream
            started with the simple belief that a
            <span>good ice cream can make a happy life.</span>
          </p>
          <img
            srcset="
              ./images/pictures/ice-cream/pink-icecream1x.png  1x,
              ./images/pictures/ice-cream/pink-icecream@2x.png 2x
            "
            src="./images/pictures/ice-cream/pink-icecream1x.png"
            alt="strawberry-icecream"
          />
        </div>
      </div>
    </div>
  </section>