<div class="gallery__container">
    <ul class="gallery__list container--unstyled-list">
      <li class="gallery__list__item">
        <ul class="gallery__inner">
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.1.png   44w,
                ./images/gallery/home-pic126.1.png 105w,
                ./images/gallery/home-pic166.1.png 138w,
                ./images/gallery/home-pic88.1.png   88w,
                ./images/gallery/home-pic210.1.png 210w,
                ./images/gallery/home-pic280.1.png 280w
              "
              src="./images/gallery/home-pic52.1.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
        </ul>
      </li>
      <ul class="gallery__inner gallery__inner--2">
        <li class="gallery__item">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/home-pic52.2.1.png   44w,
              ./images/gallery/home-pic126.2.1.png 105w,
              ./images/gallery/home-pic166.2.1.png 138w,
              ./images/gallery/home-pic88.2.1.png   88w,
              ./images/gallery/home-pic210.2.1.png 210w,
              ./images/gallery/home-pic280.2.1.png 280w
            "
            src="./images/gallery/home-pic52.2.1.png"
            sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
            alt="icecream picture"
          />
        </li>
        <li class="gallery__item">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/home-pic52.2.2.png   44w,
              ./images/gallery/home-pic126.2.2.png 105w,
              ./images/gallery/home-pic166.2.2.png 138w,
              ./images/gallery/home-pic88.2.2.png   88w,
              ./images/gallery/home-pic210.2.2.png 210w,
              ./images/gallery/home-pic280.2.2.png 280w
            "
            src="./images/gallery/home-pic52.2.2.png"
            sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
            alt="icecream picture"
          />
        </li>
      </ul>
      <li class="gallery__list__item">
        <ul class="gallery__inner">
          <li class="gallery__item--large">
            <img
              class="large__image"
              srcset="
                ./images/gallery/home-pic107.3.1.png  90w,
                ./images/gallery/home-pic257.3.1.png 215w,
                ./images/gallery/home-pic340.3.1.png 283w,
                ./images/gallery/home-pic180.3.1.png 180w,
                ./images/gallery/home-pic430.3.1.png 430w,
                ./images/gallery/home-pic570.3.1.png 570w
              "
              src="./images/gallery/home-pic107.3.1.png"
              sizes="(min-width: 1280px) 283px, (min-width: 768px) 215px, 90px"
              alt="icecream picture"
            />
          </li>
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.3.2.png   44w,
                ./images/gallery/home-pic126.3.2.png 105w,
                ./images/gallery/home-pic166.3.2.png 138w,
                ./images/gallery/home-pic88.3.2.png   88w,
                ./images/gallery/home-pic210.3.2.png 210w,
                ./images/gallery/home-pic280.3.2.png 280w
              "
              src="./images/gallery/home-pic52.3.2.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
        </ul>
      </li>
      <li class="gallery__list__item">
        <ul class="gallery__inner">
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.4.1.png   44w,
                ./images/gallery/home-pic126.4.1.png 105w,
                ./images/gallery/home-pic166.4.1.png 138w,
                ./images/gallery/home-pic88.4.1.png   88w,
                ./images/gallery/home-pic210.4.1.png 210w,
                ./images/gallery/home-pic280.4.1.png 280w
              "
              src="./images/gallery/home-pic52.4.1.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.4.2.png   44w,
                ./images/gallery/home-pic126.4.2.png 105w,
                ./images/gallery/home-pic166.4.2.png 138w,
                ./images/gallery/home-pic88.4.2.png   88w,
                ./images/gallery/home-pic210.4.2.png 210w,
                ./images/gallery/home-pic280.4.2.png 280w
              "
              src="./images/gallery/home-pic52.4.2.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
        </ul>
      </li>
      <li class="gallery__list__item">
        <ul class="gallery__inner">
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.5.1.png   44w,
                ./images/gallery/home-pic126.5.1.png 105w,
                ./images/gallery/home-pic166.5.1.png 138w,
                ./images/gallery/home-pic88.5.1.png   88w,
                ./images/gallery/home-pic210.5.1.png 210w,
                ./images/gallery/home-pic280.5.1.png 280w
              "
              src="./images/gallery/home-pic52.5.1.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.5.2.png   44w,
                ./images/gallery/home-pic126.5.2.png 105w,
                ./images/gallery/home-pic166.5.2.png 138w,
                ./images/gallery/home-pic88.5.2.png   88w,
                ./images/gallery/home-pic210.5.2.png 210w,
                ./images/gallery/home-pic280.5.2.png 280w
              "
              src="./images/gallery/home-pic52.5.2.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
        </ul>
      </li>
      <li class="gallery__list__item">
        <ul class="gallery__inner">
          <li class="gallery__item">
            <img
              class="gallery__img"
              srcset="
                ./images/gallery/home-pic52.6.png   44w,
                ./images/gallery/home-pic126.6.png 105w,
                ./images/gallery/home-pic166.6.png 138w,
                ./images/gallery/home-pic88.6.png   88w,
                ./images/gallery/home-pic210.6.png 210w,
                ./images/gallery/home-pic280.6.png 280w
              "
              src="./images/gallery/home-pic52.6.png"
              sizes="(min-width: 1280px) 138px, (min-width: 768px) 105px, 44px"
              alt="icecream picture"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>