<section class="goal-section">
    <div class="container-flex container">
      <h3 class="section-subtitle">What Drives us</h3>
      <h2 class="section-title">Our goal</h2>
      <div class="our-goal">
        <div class="paragraph-section">
          <p class="page-paragraph">
            <span>Our goal is simple</span> : to make the
            <span>best ice cream</span> in town and to bring smiles to our
            customers' faces. What drives us is the joy that we see in our
            customers when they taste <span>our delicious treats</span
            ><br />
            <br />
            <br />
            .
          </p>
        </div>
        <div class="list-section">
          <ul class="description-list">
            <li class="description-item">
              <p class="awards">600</p>
              <p class="awards-item">Satisfied customers</p>
            </li>
            <li class="description-item">
              <p class="awards">50</p>
              <p class="awards-item">Awards for excelent service</p>
            </li>
            <li class="description-item">
              <p class="awards">23</p>
              <p class="awards-item">Flavours</p>
            </li>
            <li class="description-item">
              <p class="awards">100</p>
              <p class="awards-item">Gift's for regular customers</p>
            </li>
          </ul>
        </div>
        <div class="imaging">
          <img
            srcset="
              ./images/pictures/ice-cream/pink-icecream1x.png  1x,
              ./images/pictures/ice-cream/pink-icecream@2x.png 2x
            "
            class="pink-image"
            src="./images/pictures/ice-cream/pink-icecream1x.png"
            alt="pink ice-cream"
          />
        </div>
      </div>
    </div>
  </section>