<div class="hero__inner hero-container">
    <div class="hero__inner--left">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title--span">passion</span>
      </h1>
      <ul class="hero__inner__list">
        <li><button class="button--red">
            <a href="#products">Products</a></button></li>
        <li>
          <button class="button--white">How it's made?</button>
        </li>
        <li>
          <button class="button--red hide--button" data-modal-open1>
            Buy now
          </button>
        </li>
      </ul>
      <div class="hero__inner--left--div">
        <div class="hero__inner--left--img"></div>
        <div>
          <p class="hero__inner--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero__inner--link">
            <svg class="hero__inner--icon">
              <use href="./images/other/svg/symbol-defs.svg#icon-vector"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- Circle and photo div -->
    <div class="hero__circle"></div>
    <div class="hero__photo"></div>
    <!-- End of circle and photo div -->
    <div class="hero__inner--right">
      <div class="hero__inner--right--div">
        <div class="hero__circle--small"></div>
        <p class="hero__inner--number">16</p>
        <p class="hero__inner--fresh">cafes</p>
      </div>
      <div class="hero__inner--right--div">
        <div class="hero__circle--small"></div>
        <p class="hero__inner--number">23</p>
        <p class="hero__inner--fresh">food trucks</p>
      </div>
      <div class="hero__right--image"></div>
    </div>
  </div>