<div class="container">
  <h3 class="product__header-label">100% natural</h3>
  <h2 class="product__header">products</h2>
  <ul class="product__list container--link">
    <li class="product__container--flip">
      <input
        type="checkbox"
        class="product__container--flip-checkbox"
        id="product__container--flip-checkbox-1"
      />
      <div class="flipper--inner">
        <div class="flipper--front">
          <img
            srcset="
              ./images/products/products1-mobile.png     280w,
              ./images/products/products1-tableta.png    224w,
              ./images/products/products1-desktop.png    368w,
              ./images/products/products1-mobile@2x.png  560w,
              ./images/products/products1-tableta@2x.png 448w,
              ./images/products/products1-desktop@2x.png 736w
            "
            src="./images/products/products1-mobile.png"
            sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
            alt="icecream"
            class="product__img"
          />

          <div class="product__item">
            <div class="product__item--trans">
              <h3 class="product__name">ice cream</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p class="product__description">
                Treat yourself to a scoop (or two!) of our creamy, dreamy ice
                cream.<br />
                Come and satisfy your sweet tooth today!
              </p>
              <label
                for="product__container--flip-checkbox-1"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_right"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="flipper--back">
          <div class="product__item">
            <img
              srcset="
                ./images/products/products1-mobile.png     280w,
                ./images/products/products1-tableta.png    224w,
                ./images/products/products1-desktop.png    368w,
                ./images/products/products1-mobile@2x.png  560w,
                ./images/products/products1-tableta@2x.png 448w,
                ./images/products/products1-desktop@2x.png 736w
              "
              src="./images/products/products1-mobile.png"
              sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
              alt="icecream"
              class="product__img"
            />

            <div class="product__item--trans">
              <h3 class="product__name">ice cream</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p class="product__description product__description--back">
                Made with only the freshest ingredients, our ice cream comes in
                a variety of flavors ranging from classic vanilla to funky
                cookie dough fudge.
              </p>
              <label
                for="product__container--flip-checkbox-1"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_left"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="product__container--flip product__container--flip--2">
      <input
        type="checkbox"
        class="product__container--flip-checkbox"
        id="product__container--flip-checkbox-2"
      />
      <div class="flipper--inner">
        <div class="flipper--front flipper--front--2">
          <div class="product__item">
            <img
              srcset="
                ./images/products/products2-mobile.png     280w,
                ./images/products/products2-tableta.png    224w,
                ./images/products/products2-desktop.png    368w,
                ./images/products/products2-mobile@2x.png  560w,
                ./images/products/products2-tableta@2x.png 448w,
                ./images/products/products2-desktop@2x.png 736w
              "
              src="./images/products/products2-mobile.png"
              sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
              alt="icecream"
              class="product__img"
            />
            <div class="product__item--trans">
              <h3 class="product__name">ice coffee</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p class="product__description">
                Hey!Are you ready?<br />
                Stay cool this summer with our refreshing iced coffee drinks.<br />
                Come chill with us today!
              </p>
              <label
                for="product__container--flip-checkbox-2"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_right"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="flipper--back flipper--back--2">
          <div class="product__item">
            <img
              srcset="
                ./images/products/products2-mobile.png     280w,
                ./images/products/products2-tableta.png    224w,
                ./images/products/products2-desktop.png    368w,
                ./images/products/products2-mobile@2x.png  560w,
                ./images/products/products2-tableta@2x.png 448w,
                ./images/products/products2-desktop@2x.png 736w
              "
              src="./images/products/products2-mobile.png"
              sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
              alt="icecream"
              class="product__img"
            />

            <div class="product__item--trans">
              <h3 class="product__name">ice coffee</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p class="product__description product__description--back">
                From our smooth and creamy vanilla latte to our cold brew, our
                baristas will craft the perfect drink to get you through any hot
                day.
              </p>
              <label
                for="product__container--flip-checkbox-2"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_left"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="product__container--flip product__container--flip--3">
      <input
        type="checkbox"
        class="product__container--flip-checkbox"
        id="product__container--flip-checkbox-3"
      />
      <div class="flipper--inner">
        <div class="flipper--front flipper--front--3">
          <div class="product__item">
            <img
              srcset="
                ./images/products/products3-mobile.png     280w,
                ./images/products/products3-tableta.png    224w,
                ./images/products/products3-desktop.png    368w,
                ./images/products/products3-mobile@2x.png  560w,
                ./images/products/products3-tableta@2x.png 448w,
                ./images/products/products3-desktop@2x.png 736w
              "
              src="./images/products/products3-mobile.png"
              sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
              alt="icecream"
              class="product__img"
            />
            <div class="product__item--trans">
              <h3 class="product__name">milkshakes</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p class="product__description">
                Sip on our delicious milkshakes made with premium ice cream and
                topped with whipped cream and a cherry.
              </p>
              <label
                for="product__container--flip-checkbox-3"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_right"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
        <div class="flipper--back flipper--back--3">
          <div class="product__item">
            <img
              srcset="
                ./images/products/products3-mobile.png     280w,
                ./images/products/products3-tableta.png    224w,
                ./images/products/products3-desktop.png    368w,
                ./images/products/products3-mobile@2x.png  560w,
                ./images/products/products3-tableta@2x.png 448w,
                ./images/products/products3-desktop@2x.png 736w
              "
              src="./images/products/products3-mobile.png"
              sizes="(min-width: 1280px) 368px, (min-width: 768px) 224px, 368px"
              alt="icecream"
              class="product__img"
            />

            <div class="product__item--trans">
              <h3 class="product__name">milkshakes</h3>
              <span class="product--marker">
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
                <svg>
                  <use href="./images/icons.svg#bullet"></use>
                </svg>
              </span>
              <p
                class="product__description product__description product__description--back"
              >
                Indulge in classic flavors like chocolate and vanilla, or try
                something new like our signature salted caramel milkshake.
              </p>
              <label
                for="product__container--flip-checkbox-3"
                class="flipper--inner-label"
              >
                <svg>
                  <use href="./images/icons.svg#arrow_left"></use>
                </svg>
              </label>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
